* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Variables */
:root {
  --bg-color: #e8eef0;
  --header-color: #363839;
  --primary-color: #0f5a8f;
  --secondary-color: rgb(48, 248, 234);
  --text-color: #808287;
}
/* Variables end */

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  background: var(--bg-color);
  color: var(--text-color);
}

body a {
  text-decoration: none;
}

body ul {
  list-style-type: none;
}

h1 {
  font-size: 45px;
}

h4 {
  margin: 0;
  font-size: 25px;
}

h5 {
  margin: 0;
  font-size: 15px;
}
h6 {
  margin: 0;
  font-size: 12px;
}

p {
  margin: 0;
}

/* Navbar/Header */
.header {
  height: 4rem;
  background-color: var(--header-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 10px rgba(24, 18, 18, 0.8);
}

.pagename {
  width: 25%;
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--secondary-color);
  padding-right: 1rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header nav {
  width: 70%;
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
}

.header ul {
  padding-right: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 1.5rem;
}

.header a {
  color: var(--secondary-color);
  padding: 0.5rem 0.8rem 0rem 0.8rem;
  border-bottom: 2px solid var(--secondary-color);
}

/* hero banner*/
.hero-banner {
  height: 15rem;
  background-image: url("../images/02-hero-bg.jpg");
  background-color: rgba(5, 72, 160, 0.5);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  position: relative;
}
.picture {
  height: 100%;
  position: absolute;
  bottom: 0%;
  left: 10%;
  border-radius: 15px;
}

.subtitle-box {
  font-size: 15px;
  padding: 0 1rem;
  position: absolute;
  bottom: 0%;
  right: 3rem;
  opacity: 85%;
  text-align: center;
  background-color: var(--secondary-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Sections */
.page-wrapper section {
  width: 95%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.page-wrapper h3 {
  width: 20%;
  font-size: 30px;
  padding-left: auto;
  padding-right: 1rem;
  text-align: right;
}

.page-section {
  display: flex;
  flex-direction: row;
}

.page-section-box {
  display: flex;
  flex-direction: row;
}

.page-section p {
  width: 80%;
  font-size: 18px;
  text-align: left;
  padding-left: 2rem;
  padding-right: 3rem;
  border-left: 4px solid var(--text-color);
}

.work-section-flexbox {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-left: 4px solid var(--text-color);
}

/* <!-- project 1 - largebox --> */
.project1 {
  width: 100%;
  position: relative;
  border: 0.2rem solid var(--secondary-color);
  margin: 0.5rem;
}

.work-section-flexbox img {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  transition: 0.1s;
}

.project1 img:hover {
  opacity: 1;
}

.project1 div {
  position: absolute;
  bottom: 10%;
  left: 0rem;
  padding-right: 3rem;
  padding-left: 0.5rem;
  color: var(--text-color);
  background-color: var(--secondary-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* <!-- projects - smallbox --> */
.project-smallbox {
  width: 48%;
  border: 0.1rem solid var(--secondary-color);
  margin: 0.5rem;
  position: relative;
}

.project-smallbox img:hover {
  opacity: 1;
}

.project-smallbox div {
  height: auto;
  position: absolute;
  bottom: 5%;
  left: 0rem;
  padding-right: 1.5rem;
  padding-left: 0.3rem;
  color: var(--text-color);
  background-color: var(--secondary-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* <!-- contact --> */
.page-section-contact {
  display: flex;
  flex-direction: row;
}

.page-section ul {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-left: 4px solid var(--text-color);
}

.page-section a {
  color: var(--text-color);
  border-bottom: 2px solid var(--text-color);
}

footer {
  background-color: var(--header-color);
  color: white;
  text-align: center;
}

@media screen and (max-width: 760px) {
  h1 {
    font-size: 25px;
  }
  .page-wrapper h3 {
    font-size: 20px;
  }
  .header nav {
    font-size: 10px;
  }
  .header ul {
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
    gap: 0.5rem;
  }
  .header li {
    margin-right: 0rem;
  }
  .header a {
    padding-right: 0.2rem;
    padding-left: 0.5rem;
  }
  .header {
    height: 6rem;
  }
  .pagename {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .subtitle-box {
    font-size: 10px;
    position: absolute;
    right: 1rem;
  }
  .page-section p {
    font-size: 15px;
  }
  .project-smallbox {
    width: 100%;
  }
  .project-smallbox div {
    bottom: 5%;
    padding-right: 1.5rem;
    padding-left: 0.3rem;
  }
  .page-section ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.5rem;
  }
  .page-section a {
    font-size: 15px;
  }
}
